        <div class="panel panel-default">
            <div class="panel-heading">
                Model Selector
                <button type="button" class="btn btn-success btn-xs pull-right">+ New Model</button>
                <button type="button" class="btn btn-info btn-xs pull-right" style="margin-right:5px;">+ Import Model</button>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="modelbuilder.filterinput">Filter Models</label>
                    <input type="text" class="form-control" id="modelbuilder.filterinput" placeholder="Filter">
                </div>
            </div>
        </div>
